In [2]:
import numpy as np
import pandas as pd
import pyodbc

In [2]:
col_name = {
    'Address': 'HHID',
    'DYCOL01': 'Code',
    'DYCOL02': 'BuyingMethod',
    'DYCOL03': 'Price'
}
years = list(range(89, 99))+ [99] + list(range(1400, 1403))
years = [1403]
for year in years:
    # Path to your .accdb file
    file_path = fr'C:\Users\Mahsa\Desktop\geo\raw_data\{year}\Outfile-{year}.accdb'
    # Connection string (for 64-bit Access Database Engine)
    conn_str = (
        r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
        f'DBQ={file_path};'
    )
    # Connect
    conn = pyodbc.connect(conn_str)
    # List all table names
    tables = [table.table_name for table in conn.cursor().tables(tableType='TABLE')]
    print(f"Year is :{str(year)}".center(50))
    Rdata = pd.read_sql(f"SELECT Address,DYCOL01,DYCOL03 FROM R{year}P3S03", conn)
    Udata = pd.read_sql(f"select Address,DYCOL01,DYCOL03 from U{year}P3S03", conn)
    
    data = pd.concat([Rdata, Udata], axis=0)
    data.rename(columns= col_name, inplace=True)
    
    data["HHID"] = data["HHID"].astype("str")
    mask = data["HHID"].str.contains(r"\.")
    data.loc[mask, 'HHID'] = data.loc[mask, "HHID"].str.split(".").str[0]
    data = data.loc[data["HHID"].notna()]
    
    data["Code"] = data["Code"].astype("str")
    data["Code"] = data["Code"].str.lstrip("0")
    data["Code"] = pd.to_numeric(data["Code"], errors='coerce')
    
    data["Price"] = data["Price"].astype("str")
    data["Price"] = data["Price"].str.lstrip("0")
    data["Price"] = pd.to_numeric(data["Price"], errors='coerce')
    data = data.loc[data["Price"].notna()]
    
    agg_dict = {
        'HHID': ('HHID', 'first'),
        "ClothExp": ("Price", "sum")
    }

    df = data.groupby("HHID").aggregate(**agg_dict).reset_index(drop=True)
    df = df.fillna(0)
    df.to_pickle(fr'Cloth_{year}')

                  Year is :1403

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\177173114.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT Address,DYCOL01,DYCOL03 FROM R{year}P3S03", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\177173114.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select Address,DYCOL01,DYCOL03 from U{year}P3S03", conn)

In [6]:
sections = ["Rent","EstRent_owner","EstRent","Mortgage","Water","Water_other","Sewage","OtherHousing",
            "Electricity","ElectricityOther","NaturalGas","NaturalGasOther",
            "OtherEnergyRe"]
dic_sec = {
    "Rent": range(41111,41214),
    "EstRent_owner" : [42111],
    "EstRent" : range(42212,42216),
    "Mortgage": [42212],
    "Water": [44111],
    "Water_other": range(44112,44115),
    "Sewage": range(44311,44313),
    "OtherHousing": range(44411,44419),
    "Electricity":[45111],
    "ElectricityOther":[45113],
    "NaturalGas":range(45211, 45213),
    "NaturalGasOther": [45213],
    "OtherEnergyRe": range(45311, 45415)  
}
col_name = {
    'Address': 'HHID',
    'DYCOL01': 'Code',
    'DYCOL02': 'Mortgage',
    'DYCOL03': 'BuyingMethod',
    'DYCOL04': 'Price',
    'address': 'HHID', 
    'dycol01': 'Code',  
    'dycol02': 'Mortgage',
    'dycol03': 'BuyingMethod', 
    'dycol04': 'Price'   
}
years = list(range(89, 99))+ [99] + list(range(1400, 1403))
years = [1403]
for year in years:
    # Path to your .accdb file
    file_path = fr'C:\Users\Mahsa\Desktop\geo\raw_data\{year}\Outfile-{year}.accdb'
    # Connection string (for 64-bit Access Database Engine)
    conn_str = (
        r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
        f'DBQ={file_path};'
    )
    # Connect
    conn = pyodbc.connect(conn_str)
    # List all table names
    tables = [table.table_name for table in conn.cursor().tables(tableType='TABLE')]
    print(f"Year is :{str(year)}".center(50))
    
    Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S04", conn)
    Udata = pd.read_sql(f"select * from U{year}P3S04", conn)
    
    data = pd.concat([Rdata, Udata], axis=0)
    data.rename(columns= col_name, inplace=True)
    
    data["HHID"] = data["HHID"].astype("str")
    mask = data["HHID"].str.contains(r"\.")
    data.loc[mask, 'HHID'] = data.loc[mask, "HHID"].str.split(".").str[0]
    data = data.loc[data["HHID"].notna()]
    
    data["Price"] = data["Price"].astype("str")
    data["Price"] = data["Price"].str.lstrip("0")
    data["Price"] = pd.to_numeric(data["Price"], errors='coerce')
    data = data.loc[data["Price"].notna()]
    
    data["Code"] = data["Code"].astype("str")
    data["Code"] = data["Code"].str.lstrip("0")
    data["Code"] = pd.to_numeric(data["Code"], errors='coerce')
    
    data["Mortgage"] = data["Mortgage"].astype("str")
    data["Mortgage"] = data["Mortgage"].str.lstrip("0")
    data["Mortgage"] = pd.to_numeric(data["Mortgage"], errors='coerce')
    data["Mortgage"] = data["Mortgage"]/12
    
    
    finalDB = pd.read_pickle(fr"C:\Users\Mahsa\Desktop\geo\base1\base{year}")
    finalDB = finalDB[["HHID"]]
    print(finalDB["HHID"].is_unique)
    for section in sections:   
        data2 = data.loc[data["Code"].isin(dic_sec[section])]
        
        if section == "Mortgage":
            agg_dict = {
                'HHID': ('HHID', 'first'),
                f"{section}Exp": ("Mortgage", "sum")
            }
        else:
            agg_dict = {
                'HHID': ('HHID', 'first'),
                f"{section}Exp": ("Price", "sum")
            }
        df = data2.groupby("HHID").aggregate(**agg_dict).reset_index(drop=True)
        finalDB = pd.merge(finalDB, df, on="HHID", how="left")
        
    finalDB = finalDB.fillna(0)           
    finalDB.to_pickle(fr'section04_{year}')

                  Year is :1403

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2609515611.py:47: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S04", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2609515611.py:48: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S04", conn)

True

In [7]:
sections = ["Furniture","Medical","Transportation","Communication","Amusement","Restaurant","Hotel",
            "Other"]
dic_sec_table = {
    "Furniture": "P3S05",
    "Medical" : "P3S06",
    "Transportation": "P3S07",
    "Communication": "P3S08",
    "Amusement": "P3S09",
    "Restaurant": "P3S11",
    "Hotel": "P3S11",
    "Other":"P3S12" 
}
col_name = {
    'Address': 'HHID',
    'DYCOL01': 'Code',
    'DYCOL02': 'BuyingMethod',
    'DYCOL03': 'Price',
    'address': 'HHID', 
    'dycol01': 'Code',
    'dycol02': 'BuyingMethod', 
    'dycol03': 'Price'   
}
years = list(range(89, 99))+ [99] + list(range(1400, 1403))
years = [1403]
for year in years:
    # Path to your .accdb file
    file_path = fr'C:\Users\Mahsa\Desktop\geo\raw_data\{year}\Outfile-{year}.accdb'
    # Connection string (for 64-bit Access Database Engine)
    conn_str = (
        r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
        f'DBQ={file_path};'
    )
    # Connect
    conn = pyodbc.connect(conn_str)
    # List all table names
    tables = [table.table_name for table in conn.cursor().tables(tableType='TABLE')]
    print(f"Year is :{str(year)}".center(50))
    
    finalDB = pd.read_pickle(fr"C:\Users\Mahsa\Desktop\geo\base1\base{year}")
    finalDB = finalDB[["HHID"]]
    for section in sections:
        Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
        Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)
        
        data = pd.concat([Rdata, Udata], axis=0)
        data.rename(columns= col_name, inplace=True)
        
        data["HHID"] = data["HHID"].astype("str")
        mask = data["HHID"].str.contains(r"\.")
        data.loc[mask, 'HHID'] = data.loc[mask, "HHID"].str.split(".").str[0]
        data = data.loc[data["HHID"].notna()]
        
        data["Price"] = data["Price"].astype("str")
        data["Price"] = data["Price"].str.lstrip("0")
        data["Price"] = pd.to_numeric(data["Price"], errors='coerce')
        data = data.loc[data["Price"].notna()]
        
        data["Code"] = data["Code"].astype("str")
        data["Code"] = data["Code"].str.lstrip("0")
        data["Code"] = pd.to_numeric(data["Code"], errors='coerce')
        
        if section == "Hotel":
            data2 = data.loc[data["Code"]> 112000]
        elif section == "Restaurant":
            data2 = data.loc[data["Code"]< 112000]
        else:
            data2 = data
        agg_dict = {
            'HHID': ('HHID', 'first'),
            f"{section}Exp": ("Price", "sum")
        }
        df = data2.groupby("HHID").aggregate(**agg_dict).reset_index(drop=True)
        finalDB = pd.merge(finalDB, df, on="HHID", how="left")
    
    print(finalDB.shape[0])
    print(finalDB.isna().sum())
    finalDB = finalDB.fillna(0)     
    finalDB.to_pickle(fr'Part3_{year}')

                  Year is :1403

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)

37505
HHID                     0
FurnitureExp          2977
MedicalExp           14351
TransportationExp     3790
CommunicationExp      1141
AmusementExp         29101
RestaurantExp        26176
HotelExp             37386
OtherExp              4414
dtype: int64

In [4]:
numbers = list(range(110000, 140000))
excluded_numbers = [123111,123112,123113,123134, 123225]
filtered_numbers = [num for num in numbers if num not in excluded_numbers]
sections = ["ClothesExtra","HousingMaintain","FurniExtra","MedicalExtra", "TransportationExtra","CommunicationExtra","AmusementExtra", "Education", "OtherExtra"]
dic_sec = {
    "ClothesExtra": range(30000, 40000),
    "HousingMaintain": range(40000, 50000),
    "FurniExtra": range(50000, 60000),
    "MedicalExtra": range(60000, 70000),
    "TransportationExtra": range(71300, 80000),
    "CommunicationExtra": range(80000, 90000),
    "AmusementExtra": range(90000, 100000),
    "Education": range(100000, 110000),
    "OtherExtra": filtered_numbers
}
col_name = {
    'Address': 'HHID',
    'DYCOL01': 'Code',
    'DYCOL05': 'Price',
    'DYCOL06': 'Input',
    'address': 'HHID', 
    'dycol01': 'Code',  
    'dycol05': 'Price',
    'dycol06': 'Input'   
}
years = list(range(89, 99))+ [99] + list(range(1400, 1404))
for year in years:
    # Path to your .accdb file
    file_path = fr'C:\Users\Mahsa\Desktop\geo\raw_data\{year}\Outfile-{year}.accdb'
    # Connection string (for 64-bit Access Database Engine)
    conn_str = (
        r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
        f'DBQ={file_path};'
    )
    # Connect
    conn = pyodbc.connect(conn_str)
    # List all table names
    tables = [table.table_name for table in conn.cursor().tables(tableType='TABLE')]
    print(f"Year is :{str(year)}".center(50))
    
    Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
    Udata = pd.read_sql(f"select * from U{year}P3S13", conn)
    
    data = pd.concat([Rdata, Udata], axis=0)
    data.rename(columns= col_name, inplace=True)
    
    data = data[["HHID","Code","Price", "Input"]]
    
    data["HHID"] = data["HHID"].astype("str")
    mask = data["HHID"].str.contains(r"\.")
    data.loc[mask, 'HHID'] = data.loc[mask, "HHID"].str.split(".").str[0]
    data = data.loc[data["HHID"].notna()]
    
    data["Price"] = data["Price"].astype("str")
    data["Price"] = data["Price"].str.lstrip("0")
    data["Price"] = pd.to_numeric(data["Price"], errors='coerce')
    data["Price"] = data["Price"]/12
    data["Price"] = data["Price"].fillna(0)
    
    data["Input"] = data["Input"].astype("str")
    data["Input"] = data["Input"].str.lstrip("0")
    data["Input"] = pd.to_numeric(data["Input"], errors='coerce')
    data["Input"] = data["Input"]/12
    data["Input"] = data["Input"].fillna(0)
    
    data["diff"] = data["Price"] - data["Input"]
    
    data["Code"] = data["Code"].astype("str")
    data["Code"] = data["Code"].str.lstrip("0")
    data["Code"] = pd.to_numeric(data["Code"], errors='coerce')
    
    finalDB = pd.read_pickle(fr"C:\Users\Mahsa\Desktop\geo\base1\base{year}")
    finalDB = finalDB[["HHID"]]
    for section in sections:   
        data2 = data.loc[data["Code"].isin(dic_sec[section])]
        agg_dict = {
            'HHID': ('HHID', 'first'),
            f"{section}Exp": ("Price", "sum"),
            f"{section}Sale": ("Input", "sum")
        }
        df = data2.groupby("HHID").aggregate(**agg_dict).reset_index(drop=True)
        finalDB = pd.merge(finalDB, df, on="HHID", how="left")
        
    finalDB = finalDB.fillna(0)          
    finalDB.to_pickle(fr'section13_{year}')
    pd.set_option("display.float_format", "{:.1f}".format)
    print(finalDB.describe(include = ["number"]))

                   Year is :89

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

       ClothesExtraExp  ClothesExtraSale  HousingMaintainExp  \
count          38950.0           38950.0             38950.0
mean            1468.5               0.0             65818.7
std            19758.2               0.0            358418.2
min                0.0               0.0                 0.0
25%                0.0               0.0                 0.0
50%                0.0               0.0                 0.0
75%                0.0               0.0              8333.3
max           916666.7               0.0          18083333.3

       HousingMaintainSale  FurniExtraExp  FurniExtraSale  MedicalExtraExp  \
count              38950.0        38950.0         38950.0          38950.0
mean                   8.2       183302.0          1557.0             46.0
std                  540.9       585265.8         35307.4           2279.3
min                    0.0            0.0             0.0              0.0
25%                    0.0            0.0             0.0              0.0
50%                    0.0            0.0             0.0              0.0
75%                    0.0        83333.3             0.0              0.0
max                50000.0     17770833.3       2916666.7         291666.7

       MedicalExtraSale  TransportationExtraExp  TransportationExtraSale  \
count           38950.0                 38950.0                  38950.0
mean                0.0                 63723.8                     59.6
std                 0.0                189451.5                   2540.3
min                 0.0                     0.0                      0.0
25%                 0.0                     0.0                      0.0
50%                 0.0                     0.0                      0.0
75%                 0.0                 47500.0                      0.0
max                 0.0              11550000.0                 333333.3

       CommunicationExtraExp  CommunicationExtraSale  AmusementExtraExp  \
count                38950.0                 38950.0            38950.0
mean                 14142.3                   535.0           109744.2
std                  52789.3                 10740.7           377186.8
min                      0.0                     0.0                0.0
25%                      0.0                     0.0                0.0
50%                      0.0                     0.0             6666.7
75%                      0.0                     0.0            33333.3
max                2212500.0               1066666.7         12510000.0

       AmusementExtraSale  EducationExp  EducationSale  OtherExtraExp  \
count             38950.0       38950.0        38950.0        38950.0
mean                412.7      120651.0            0.0       690057.8
std               11672.8      418274.4            0.0      1223133.5
min                   0.0           0.0            0.0            0.0
25%                   0.0           0.0            0.0        66221.8
50%                   0.0           0.0            0.0       250648.0
75%                   0.0        9291.7            0.0      1003937.5
max             1000000.0    23666666.7            0.0     95247500.0

       OtherExtraSale
count         38950.0
mean              1.6
std             241.4
min               0.0
25%               0.0
50%               0.0
75%               0.0
max           45833.3
                   Year is :90

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

       ClothesExtraExp  ClothesExtraSale  HousingMaintainExp  \
count          40011.0           40011.0             40011.0
mean            1705.0               0.0             70649.9
std            28028.2               0.0            424937.9
min                0.0               0.0                 0.0
25%                0.0               0.0                 0.0
50%                0.0               0.0                 0.0
75%                0.0               0.0              4166.7
max          2083333.3               0.0          41666666.7

       HousingMaintainSale  FurniExtraExp  FurniExtraSale  MedicalExtraExp  \
count              40011.0        40011.0         40011.0          40011.0
mean                  11.1       181687.3          1291.2          91251.8
std                 1008.7       652118.4         36663.7         610528.8
min                    0.0            0.0             0.0              0.0
25%                    0.0            0.0             0.0              0.0
50%                    0.0            0.0             0.0              0.0
75%                    0.0        58333.3             0.0              0.0
max               150000.0     22333333.3       3666666.7       33333333.3

       MedicalExtraSale  TransportationExtraExp  TransportationExtraSale  \
count           40011.0                 40011.0                  40011.0
mean                0.0                 62388.6                     76.8
std                 0.0                161199.4                   3368.9
min                 0.0                     0.0                      0.0
25%                 0.0                     0.0                      0.0
50%                 0.0                     0.0                      0.0
75%                 0.0                 50791.7                      0.0
max                 0.0               4350000.0                 333333.3

       CommunicationExtraExp  CommunicationExtraSale  AmusementExtraExp  \
count                40011.0                 40011.0            40011.0
mean                 13925.7                   415.7           121661.3
std                  50959.1                  8669.4           627120.1
min                      0.0                     0.0                0.0
25%                      0.0                     0.0                0.0
50%                      0.0                     0.0             6666.7
75%                      0.0                     0.0            35000.0
max                1500000.0                833333.3         84083333.3

       AmusementExtraSale  EducationExp  EducationSale  OtherExtraExp  \
count             40011.0       40011.0        40011.0        40011.0
mean                529.8      133878.6            0.0       769830.6
std               20045.8      442522.8            0.0      1268547.3
min                   0.0           0.0            0.0            0.0
25%                   0.0           0.0            0.0        71250.0
50%                   0.0           0.0            0.0       290833.3
75%                   0.0       10833.3            0.0      1115916.7
max             3166666.7    15000000.0            0.0     56457916.7

       OtherExtraSale
count         40011.0
mean              2.4
std             419.6
min               0.0
25%               0.0
50%               0.0
75%               0.0
max           83333.3
                   Year is :91

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

       ClothesExtraExp  ClothesExtraSale  HousingMaintainExp  \
count          40007.0           40007.0             40007.0
mean            2414.2               0.4             70929.0
std            36210.1              83.3            386495.8
min                0.0               0.0                 0.0
25%                0.0               0.0                 0.0
50%                0.0               0.0                 0.0
75%                0.0               0.0              4166.7
max          2625000.0           16666.7          18708333.3

       HousingMaintainSale  FurniExtraExp  FurniExtraSale  MedicalExtraExp  \
count              40007.0        40007.0         40007.0          40007.0
mean                  21.5       209607.4          1200.0         132555.5
std                 1814.9       788640.4         39017.6         818089.3
min                    0.0            0.0             0.0              0.0
25%                    0.0            0.0             0.0              0.0
50%                    0.0            0.0             0.0              0.0
75%                    0.0        37500.0             0.0              0.0
max               250000.0     24833333.3       5000000.0       27500000.0

       MedicalExtraSale  TransportationExtraExp  TransportationExtraSale  \
count           40007.0                 40007.0                  40007.0
mean                0.0                 87342.8                     61.5
std                 0.0                228279.2                   4017.8
min                 0.0                     0.0                      0.0
25%                 0.0                     0.0                      0.0
50%                 0.0                     0.0                      0.0
75%                 0.0                 75000.0                      0.0
max                 0.0              10833333.3                 583333.3

       CommunicationExtraExp  CommunicationExtraSale  AmusementExtraExp  \
count                40007.0                 40007.0            40007.0
mean                 15488.3                   480.8           116834.3
std                  66462.3                 11193.3           461783.0
min                      0.0                     0.0                0.0
25%                      0.0                     0.0                0.0
50%                      0.0                     0.0             7166.7
75%                      0.0                     0.0            33333.3
max                2816666.7               1250000.0         18916666.7

       AmusementExtraSale  EducationExp  EducationSale  OtherExtraExp  \
count             40007.0       40007.0        40007.0        40007.0
mean                537.2      148638.7            0.0       911255.7
std               16624.5      486622.6            0.0      1653291.6
min                   0.0           0.0            0.0            0.0
25%                   0.0           0.0            0.0        82083.3
50%                   0.0           0.0            0.0       366097.0
75%                   0.0       16666.7            0.0      1320416.7
max             1166666.7    10833333.3            0.0    177686133.3

       OtherExtraSale
count         40007.0
mean              0.0
std               0.0
min               0.0
25%               0.0
50%               0.0
75%               0.0
max               0.0
                   Year is :92

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

       ClothesExtraExp  ClothesExtraSale  HousingMaintainExp  \
count          39864.0           39864.0             39864.0
mean            2121.1               0.0             84099.8
std            39760.6               0.0            439176.2
min                0.0               0.0                 0.0
25%                0.0               0.0                 0.0
50%                0.0               0.0                 0.0
75%                0.0               0.0              6666.7
max          2500000.0               0.0          18333333.3

       HousingMaintainSale  FurniExtraExp  FurniExtraSale  MedicalExtraExp  \
count              39864.0        39864.0         39864.0          39864.0
mean                  25.9       258160.0          1246.7         175623.1
std                 2596.4      1064277.8         39335.4        1040729.6
min                    0.0            0.0             0.0              0.0
25%                    0.0            0.0             0.0              0.0
50%                    0.0            0.0             0.0              0.0
75%                    0.0        41666.7             0.0              0.0
max               416666.7     36090000.0       5000000.0       50000000.0

       MedicalExtraSale  TransportationExtraExp  TransportationExtraSale  \
count           39864.0                 39864.0                  39864.0
mean                0.0                123484.8                     29.8
std                 0.0                286108.6                   2355.8
min                 0.0                     0.0                      0.0
25%                 0.0                     0.0                      0.0
50%                 0.0                     0.0                      0.0
75%                 0.0                120833.3                      0.0
max                 0.0               7141666.7                 416666.7

       CommunicationExtraExp  CommunicationExtraSale  AmusementExtraExp  \
count                39864.0                 39864.0            39864.0
mean                 24899.4                  1020.4           144397.5
std                 113947.5                 23668.2           662341.2
min                      0.0                     0.0                0.0
25%                      0.0                     0.0                0.0
50%                      0.0                     0.0             8333.3
75%                      0.0                     0.0            38333.3
max                4166666.7               3333333.3         26526958.3

       AmusementExtraSale  EducationExp  EducationSale  OtherExtraExp  \
count             39864.0       39864.0        39864.0        39864.0
mean                600.0      157696.8            0.0      1109335.6
std               21518.6      542839.5            0.0      1792812.6
min                   0.0           0.0            0.0            0.0
25%                   0.0           0.0            0.0        96513.7
50%                   0.0           0.0            0.0       453871.5
75%                   0.0       16666.7            0.0      1635887.3
max             1933333.3    25000000.0            0.0    123561796.7

       OtherExtraSale
count         39864.0
mean            125.4
std           25042.6
min               0.0
25%               0.0
50%               0.0
75%               0.0
max         5000000.0
                   Year is :93

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

       ClothesExtraExp  ClothesExtraSale  HousingMaintainExp  \
count          39856.0           39856.0             39856.0
mean            2245.7               0.0            110892.1
std            43120.0               0.0            641274.4
min                0.0               0.0                 0.0
25%                0.0               0.0                 0.0
50%                0.0               0.0                 0.0
75%                0.0               0.0              8333.3
max          4416666.7               0.0          25250000.0

       HousingMaintainSale  FurniExtraExp  FurniExtraSale  MedicalExtraExp  \
count              39856.0        39856.0         39856.0          39856.0
mean                   7.3       274672.9          1192.0         185475.9
std                  798.5      1150921.2         38541.8        1084031.5
min                    0.0            0.0             0.0              0.0
25%                    0.0            0.0             0.0              0.0
50%                    0.0            0.0             0.0              0.0
75%                    0.0        37500.0             0.0              0.0
max               112500.0     34416666.7       4166666.7       58333333.3

       MedicalExtraSale  TransportationExtraExp  TransportationExtraSale  \
count           39856.0                 39856.0                  39856.0
mean                0.0                152573.5                     52.3
std                 0.0                346707.3                   2163.1
min                 0.0                     0.0                      0.0
25%                 0.0                     0.0                      0.0
50%                 0.0                     0.0                      0.0
75%                 0.0                156875.0                      0.0
max                 0.0               9666666.7                 250000.0

       CommunicationExtraExp  CommunicationExtraSale  AmusementExtraExp  \
count                39856.0                 39856.0            39856.0
mean                 37994.1                   758.0           166465.7
std                 160468.6                 15133.0           751212.6
min                      0.0                     0.0                0.0
25%                      0.0                     0.0                0.0
50%                      0.0                     0.0            12500.0
75%                      0.0                     0.0            50000.0
max                3750000.0                833333.3         32500000.0

       AmusementExtraSale  EducationExp  EducationSale  OtherExtraExp  \
count             39856.0       39856.0        39856.0        39856.0
mean                697.6      179522.2            0.0      1375197.3
std               36625.6      618090.6            0.0      2357629.0
min                   0.0           0.0            0.0            0.0
25%                   0.0           0.0            0.0       108510.2
50%                   0.0           0.0            0.0       537916.7
75%                   0.0       29166.7            0.0      2014764.0
max             5000000.0    20000000.0            0.0    128074597.0

       OtherExtraSale
count         39856.0
mean              0.0
std               0.0
min               0.0
25%               0.0
50%               0.0
75%               0.0
max               0.0
                   Year is :94

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

       ClothesExtraExp  ClothesExtraSale  HousingMaintainExp  \
count          39857.0           39857.0             39857.0
mean            2375.5               0.0            112627.9
std            42491.6               0.0            686103.6
min                0.0               0.0                 0.0
25%                0.0               0.0                 0.0
50%                0.0               0.0                 0.0
75%                0.0               0.0             12500.0
max          2916666.7               0.0          41666666.7

       HousingMaintainSale  FurniExtraExp  FurniExtraSale  MedicalExtraExp  \
count              39857.0        39857.0         39857.0          39857.0
mean                  47.0       270481.9          1057.3         201177.3
std                 4178.5      1210738.8         38825.8        1172753.5
min                    0.0            0.0             0.0              0.0
25%                    0.0            0.0             0.0              0.0
50%                    0.0            0.0             0.0              0.0
75%                    0.0        33333.3             0.0              0.0
max               583333.3     50000000.0       5000000.0       47500000.0

       MedicalExtraSale  TransportationExtraExp  TransportationExtraSale  \
count           39857.0                 39857.0                  39857.0
mean                0.0                162830.7                     62.7
std                 0.0                374201.4                   3670.8
min                 0.0                     0.0                      0.0
25%                 0.0                     0.0                      0.0
50%                 0.0                     0.0                      0.0
75%                 0.0                166666.7                      0.0
max                 0.0              16011666.7                 500000.0

       CommunicationExtraExp  CommunicationExtraSale  AmusementExtraExp  \
count                39857.0                 39857.0            39857.0
mean                 45741.0                   573.5           152907.6
std                 189705.9                 17284.4           699905.8
min                      0.0                     0.0                0.0
25%                      0.0                     0.0                0.0
50%                      0.0                     0.0            16166.7
75%                      0.0                     0.0            56583.3
max                7083333.3               2500000.0         29166666.7

       AmusementExtraSale  EducationExp  EducationSale  OtherExtraExp  \
count             39857.0       39857.0        39857.0        39857.0
mean               2378.4      184788.2            0.0      1651473.8
std              384941.5      645517.2            0.0      2499539.3
min                   0.0           0.0            0.0            0.0
25%                   0.0           0.0            0.0       162347.0
50%                   0.0           0.0            0.0       760161.7
75%                   0.0       37500.0            0.0      2362691.7
max            76666666.7    25000000.0            0.0     88206761.7

       OtherExtraSale
count         39857.0
mean              0.0
std               0.0
min               0.0
25%               0.0
50%               0.0
75%               0.0
max               0.0
                   Year is :95

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

       ClothesExtraExp  ClothesExtraSale  HousingMaintainExp  \
count          39864.0           39864.0             39864.0
mean            3093.1              21.3            121182.7
std            55031.7            4174.6            748417.1
min                0.0               0.0                 0.0
25%                0.0               0.0                 0.0
50%                0.0               0.0                 0.0
75%                0.0               0.0             16666.7
max          3333333.3          833333.3          57125000.0

       HousingMaintainSale  FurniExtraExp  FurniExtraSale  MedicalExtraExp  \
count              39864.0        39864.0         39864.0          39864.0
mean                  36.3       303556.6          1822.5         262472.8
std                 5517.6      1304941.3         61589.3        1537274.0
min                    0.0            0.0             0.0              0.0
25%                    0.0            0.0             0.0              0.0
50%                    0.0            0.0             0.0              0.0
75%                    0.0        41666.7             0.0              0.0
max              1083333.3     31583333.3       8333333.3       83333333.3

       MedicalExtraSale  TransportationExtraExp  TransportationExtraSale  \
count           39864.0                 39864.0                  39864.0
mean                0.0                170443.0                     57.5
std                 0.0                389227.5                   3038.8
min                 0.0                     0.0                      0.0
25%                 0.0                     0.0                      0.0
50%                 0.0                     0.0                      0.0
75%                 0.0                183333.3                      0.0
max                 0.0              13458333.3                 416666.7

       CommunicationExtraExp  CommunicationExtraSale  AmusementExtraExp  \
count                39864.0                 39864.0            39864.0
mean                 42242.9                   740.5           149488.2
std                 187941.4                 17496.5           620995.5
min                      0.0                     0.0                0.0
25%                      0.0                     0.0                0.0
50%                      0.0                     0.0            16666.7
75%                      0.0                     0.0            58333.3
max                4166666.7               1500000.0         34182083.3

       AmusementExtraSale  EducationExp  EducationSale  OtherExtraExp  \
count             39864.0       39864.0        39864.0        39864.0
mean                534.7      191362.5            0.0      1812273.2
std               52609.5      721595.9            0.0      2946057.9
min                   0.0           0.0            0.0            0.0
25%                   0.0           0.0            0.0       186084.2
50%                   0.0           0.0            0.0       815416.7
75%                   0.0       39166.7            0.0      2577678.6
max            10000000.0    37500000.0            0.0    270854166.7

       OtherExtraSale
count         39864.0
mean             36.4
std            7097.4
min               0.0
25%               0.0
50%               0.0
75%               0.0
max         1416666.7
                   Year is :96

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

       ClothesExtraExp  ClothesExtraSale  HousingMaintainExp  \
count          37962.0           37962.0             37962.0
mean            3387.3               0.0            155365.0
std            67491.9               0.0            849603.1
min                0.0               0.0                 0.0
25%                0.0               0.0                 0.0
50%                0.0               0.0                 0.0
75%                0.0               0.0             25000.0
max          5833333.3               0.0          56666666.7

       HousingMaintainSale  FurniExtraExp  FurniExtraSale  MedicalExtraExp  \
count              37962.0        37962.0         37962.0          37962.0
mean                  60.5       389377.5          3107.5         348874.8
std                 4964.6      1701784.8        112598.6        1719014.3
min                    0.0            0.0             0.0              0.0
25%                    0.0            0.0             0.0              0.0
50%                    0.0            0.0             0.0              0.0
75%                    0.0        66666.7             0.0              0.0
max               625000.0     47602500.0      13333333.3       83333333.3

       MedicalExtraSale  TransportationExtraExp  TransportationExtraSale  \
count           37962.0                 37962.0                  37962.0
mean                0.0                211494.2                   1500.5
std                 0.0                450685.8                 256813.1
min                 0.0                     0.0                      0.0
25%                 0.0                     0.0                      0.0
50%                 0.0                     0.0                      0.0
75%                 0.0                252500.0                      0.0
max                 0.0              13925000.0               50000000.0

       CommunicationExtraExp  CommunicationExtraSale  AmusementExtraExp  \
count                37962.0                 37962.0            37962.0
mean                 50911.9                  1034.8           188279.5
std                 224722.7                 24738.1           850057.3
min                      0.0                     0.0                0.0
25%                      0.0                     0.0                0.0
50%                      0.0                     0.0            21083.3
75%                      0.0                     0.0            67833.3
max                7500000.0               1666666.7         37143562.5

       AmusementExtraSale  EducationExp  EducationSale  OtherExtraExp  \
count             37962.0       37962.0        37962.0        37962.0
mean                533.5      219238.7            0.0      2192035.2
std               31828.0      812123.0            0.0      3063204.4
min                   0.0           0.0            0.0            0.0
25%                   0.0           0.0            0.0       269280.9
50%                   0.0           0.0            0.0      1018404.8
75%                   0.0       50000.0            0.0      3094645.8
max             5416666.7    26500000.0            0.0     68937500.0

       OtherExtraSale
count         37962.0
mean              0.0
std               0.0
min               0.0
25%               0.0
50%               0.0
75%               0.0
max               0.0
                   Year is :97

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

       ClothesExtraExp  ClothesExtraSale  HousingMaintainExp  \
count          38960.0           38960.0             38960.0
mean            3282.9              10.7            182769.4
std            68034.1            2111.0           1035824.0
min                0.0               0.0                 0.0
25%                0.0               0.0                 0.0
50%                0.0               0.0                 0.0
75%                0.0               0.0             29166.7
max          5000000.0          416666.7          67916666.7

       HousingMaintainSale  FurniExtraExp  FurniExtraSale  MedicalExtraExp  \
count              38960.0        38960.0         38960.0          38960.0
mean                  10.8       455141.4          3199.4         478782.2
std                 1358.0      2226571.6        108485.6        3036100.3
min                    0.0            0.0             0.0              0.0
25%                    0.0            0.0             0.0              0.0
50%                    0.0            0.0             0.0              0.0
75%                    0.0        66666.7             0.0              0.0
max               250000.0     93916666.7       8333333.3      379166666.7

       MedicalExtraSale  TransportationExtraExp  TransportationExtraSale  \
count           38960.0                 38960.0                  38960.0
mean                0.0                293514.1                    145.4
std                 0.0                632666.0                   7907.2
min                 0.0                     0.0                      0.0
25%                 0.0                     0.0                      0.0
50%                 0.0                     0.0                      0.0
75%                 0.0                354166.7                      0.0
max                 0.0              18250000.0                1000000.0

       CommunicationExtraExp  CommunicationExtraSale  AmusementExtraExp  \
count                38960.0                 38960.0            38960.0
mean                 61494.9                  2023.5           212425.5
std                 331836.5                 56384.0          1086613.0
min                      0.0                     0.0                0.0
25%                      0.0                     0.0                0.0
50%                      0.0                     0.0            21250.0
75%                      0.0                     0.0            70833.3
max               16666666.7               4333333.3         42100000.0

       AmusementExtraSale  EducationExp  EducationSale  OtherExtraExp  \
count             38960.0       38960.0        38960.0        38960.0
mean               2329.4      248423.0            0.0      2710007.8
std              169389.1      950881.6            0.0      3910492.3
min                   0.0           0.0            0.0            0.0
25%                   0.0           0.0            0.0       344094.2
50%                   0.0           0.0            0.0      1214463.3
75%                   0.0       66666.7            0.0      3847541.7
max            29166666.7    39666666.7            0.0    129375000.0

       OtherExtraSale
count         38960.0
mean             12.1
std            1701.5
min               0.0
25%               0.0
50%               0.0
75%               0.0
max          266666.7
                   Year is :98

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

       ClothesExtraExp  ClothesExtraSale  HousingMaintainExp  \
count          38328.0           38328.0             38328.0
mean            3345.8               0.0            218125.7
std            75634.6               0.0           1184733.0
min                0.0               0.0                 0.0
25%                0.0               0.0                 0.0
50%                0.0               0.0                 0.0
75%                0.0               0.0             33333.3
max          5833333.3               0.0          74166666.7

       HousingMaintainSale  FurniExtraExp  FurniExtraSale  MedicalExtraExp  \
count              38328.0        38328.0         38328.0          38328.0
mean                  52.9       518404.8          3093.6         509469.9
std                 5744.2      2661182.2         89771.3        3130712.6
min                    0.0            0.0             0.0              0.0
25%                    0.0            0.0             0.0              0.0
50%                    0.0            0.0             0.0              0.0
75%                    0.0        37500.0             0.0              0.0
max               833333.3     88083333.3      10000000.0      316666666.7

       MedicalExtraSale  TransportationExtraExp  TransportationExtraSale  \
count           38328.0                 38328.0                  38328.0
mean                0.0                427607.9                    224.9
std                 0.0                942301.4                   8791.2
min                 0.0                     0.0                      0.0
25%                 0.0                     0.0                      0.0
50%                 0.0                     0.0                      0.0
75%                 0.0                500000.0                      0.0
max                 0.0              30416666.7                 833333.3

       CommunicationExtraExp  CommunicationExtraSale  AmusementExtraExp  \
count                38328.0                 38328.0            38328.0
mean                 94300.3                  2890.4           222400.1
std                 509956.5                 60832.5          1461727.8
min                      0.0                     0.0                0.0
25%                      0.0                     0.0                0.0
50%                      0.0                     0.0            20833.3
75%                      0.0                     0.0            71260.4
max               25000000.0               3333333.3         75226750.0

       AmusementExtraSale  EducationExp  EducationSale  OtherExtraExp  \
count             38328.0       38328.0        38328.0        38328.0
mean               1380.1      264023.8            0.0      3238501.6
std              117243.8     1011963.7            0.0      5026195.5
min                   0.0           0.0            0.0            0.0
25%                   0.0           0.0            0.0       363460.0
50%                   0.0           0.0            0.0      1373078.3
75%                   0.0       83333.3            0.0      4733395.8
max            18333333.3    31800000.0            0.0    303704796.0

       OtherExtraSale
count         38328.0
mean              0.0
std               0.0
min               0.0
25%               0.0
50%               0.0
75%               0.0
max               0.0
                   Year is :99

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

       ClothesExtraExp  ClothesExtraSale  HousingMaintainExp  \
count          37557.0           37557.0             37557.0
mean            1275.5               0.0            299718.8
std            45517.2               0.0           1780633.3
min                0.0               0.0                 0.0
25%                0.0               0.0                 0.0
50%                0.0               0.0                 0.0
75%                0.0               0.0             61250.0
max          4166666.7               0.0         165000000.0

       HousingMaintainSale  FurniExtraExp  FurniExtraSale  MedicalExtraExp  \
count              37557.0        37557.0         37557.0          37557.0
mean                 128.7       645273.2          5486.4         513969.7
std                14351.7      3487512.3        254943.1        2899254.0
min                    0.0            0.0             0.0              0.0
25%                    0.0            0.0             0.0              0.0
50%                    0.0            0.0             0.0              0.0
75%                    0.0        37500.0             0.0              0.0
max              2500000.0    124166666.7      37500000.0      148333333.3

       MedicalExtraSale  TransportationExtraExp  TransportationExtraSale  \
count           37557.0                 37557.0                  37557.0
mean                0.0                605983.6                    620.3
std                 0.0               1314844.3                  16003.6
min                 0.0                     0.0                      0.0
25%                 0.0                     0.0                      0.0
50%                 0.0                     0.0                      0.0
75%                 0.0                683333.3                      0.0
max                 0.0              28683333.3                1416666.7

       CommunicationExtraExp  CommunicationExtraSale  AmusementExtraExp  \
count                37557.0                 37557.0            37557.0
mean                221607.8                  3283.5           176981.7
std                1054175.0                 99782.9          1014865.9
min                      0.0                     0.0                0.0
25%                      0.0                     0.0                0.0
50%                      0.0                     0.0            20000.0
75%                      0.0                     0.0            70333.3
max               41666666.7              10833333.3         58458333.3

       AmusementExtraSale  EducationExp  EducationSale  OtherExtraExp  \
count             37557.0       37557.0        37557.0        37557.0
mean               2187.1      270153.1            0.0      4105690.8
std              200354.9     1147113.3            0.0      6701147.3
min                   0.0           0.0            0.0            0.0
25%                   0.0           0.0            0.0       358333.3
50%                   0.0           0.0            0.0      1500000.0
75%                   0.0       58333.3            0.0      5880416.7
max            33333333.3    33333333.3            0.0    381199583.3

       OtherExtraSale
count         37557.0
mean             74.3
std           11941.8
min               0.0
25%               0.0
50%               0.0
75%               0.0
max         2250000.0
                  Year is :1400

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

       ClothesExtraExp  ClothesExtraSale  HousingMaintainExp  \
count          37988.0           37988.0             37988.0
mean            2614.4               0.0            362384.1
std            85953.1               0.0           2081485.4
min                0.0               0.0                 0.0
25%                0.0               0.0                 0.0
50%                0.0               0.0                 0.0
75%                0.0               0.0             83333.3
max          5833333.3               0.0         114166666.7

       HousingMaintainSale  FurniExtraExp  FurniExtraSale  MedicalExtraExp  \
count              37988.0        37988.0         37988.0          37988.0
mean                  15.4       993877.5          8845.7         749404.1
std                 2992.9      5683420.8        260704.7        4284375.8
min                    0.0            0.0             0.0              0.0
25%                    0.0            0.0             0.0              0.0
50%                    0.0            0.0             0.0              0.0
75%                    0.0        21250.0             0.0              0.0
max               583333.3    251666666.7      16666666.7      250000000.0

       MedicalExtraSale  TransportationExtraExp  TransportationExtraSale  \
count           37988.0                 37988.0                  37988.0
mean                0.0                884405.0                   1024.0
std                 0.0               1914978.8                  37160.2
min                 0.0                     0.0                      0.0
25%                 0.0                     0.0                      0.0
50%                 0.0                     0.0                      0.0
75%                 0.0               1000000.0                      0.0
max                 0.0              50378333.3                4166666.7

       CommunicationExtraExp  CommunicationExtraSale  AmusementExtraExp  \
count                37988.0                 37988.0            37988.0
mean                354089.1                  6154.8           233414.1
std                1523867.2                271548.5          1310623.6
min                      0.0                     0.0                0.0
25%                      0.0                     0.0                0.0
50%                      0.0                     0.0            26666.7
75%                      0.0                     0.0            89166.7
max               50000000.0              47500000.0         52508333.3

       AmusementExtraSale  EducationExp  EducationSale  OtherExtraExp  \
count             37988.0       37988.0        37988.0        37988.0
mean               1633.3      342669.4            0.0      5873428.9
std               87628.6     2196725.2            0.0      9609744.2
min                   0.0           0.0            0.0            0.0
25%                   0.0           0.0            0.0       494518.8
50%                   0.0           0.0            0.0      2123722.0
75%                   0.0       75000.0            0.0      8333333.3
max             7500000.0   250000000.0            0.0    558173333.3

       OtherExtraSale
count         37988.0
mean              7.9
std            1539.2
min               0.0
25%               0.0
50%               0.0
75%               0.0
max          300000.0
                  Year is :1401

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

       ClothesExtraExp  ClothesExtraSale  HousingMaintainExp  \
count          37951.0           37951.0             37951.0
mean            5551.5               0.0            548191.5
std           173063.4               0.0           3459488.3
min                0.0               0.0                 0.0
25%                0.0               0.0                 0.0
50%                0.0               0.0                 0.0
75%                0.0               0.0             83333.3
max         16666666.7               0.0         155833333.3

       HousingMaintainSale  FurniExtraExp  FurniExtraSale  MedicalExtraExp  \
count              37951.0        37951.0         37951.0          37951.0
mean                  99.5      1273291.7         10292.2        1072547.4
std                10417.3      7562477.8        361103.6        5789897.2
min                    0.0            0.0             0.0              0.0
25%                    0.0            0.0             0.0              0.0
50%                    0.0            0.0             0.0              0.0
75%                    0.0            0.0             0.0              0.0
max              1666666.7    510166666.7      33333333.3      308333333.3

       MedicalExtraSale  TransportationExtraExp  TransportationExtraSale  \
count           37951.0                 37951.0                  37951.0
mean                0.0               1317351.4                   1716.9
std                 0.0               3096523.0                  72491.1
min                 0.0                     0.0                      0.0
25%                 0.0                     0.0                      0.0
50%                 0.0                     0.0                      0.0
75%                 0.0               1458333.3                      0.0
max                 0.0             153000000.0               12500000.0

       CommunicationExtraExp  CommunicationExtraSale  AmusementExtraExp  \
count                37951.0                 37951.0            37951.0
mean                264869.7                  4131.4           355708.4
std                1639110.8                207336.0          2153285.3
min                      0.0                     0.0                0.0
25%                      0.0                     0.0                0.0
50%                      0.0                     0.0            33333.3
75%                      0.0                     0.0           116666.7
max               80000000.0              30000000.0        150157500.0

       AmusementExtraSale  EducationExp  EducationSale  OtherExtraExp  \
count             37951.0       37951.0        37951.0        37951.0
mean                990.2      488419.5            0.0      8529910.8
std               68948.4     2426357.8            0.0     19904812.9
min                   0.0           0.0            0.0            0.0
25%                   0.0           0.0            0.0       916333.3
50%                   0.0           0.0            0.0      3275000.0
75%                   0.0      125000.0            0.0     12029027.8
max            10000000.0   216666666.7            0.0   2543214000.0

       OtherExtraSale
count         37951.0
mean              8.8
std            1711.1
min               0.0
25%               0.0
50%               0.0
75%               0.0
max          333333.3
                  Year is :1402

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

       ClothesExtraExp  ClothesExtraSale  HousingMaintainExp  \
count          37883.0           37883.0             37883.0
mean            8907.2               0.0            756097.4
std           676316.3               0.0           4574563.2
min                0.0               0.0                 0.0
25%                0.0               0.0                 0.0
50%                0.0               0.0                 0.0
75%                0.0               0.0            166666.7
max        125000000.0               0.0         241666666.7

       HousingMaintainSale  FurniExtraExp  FurniExtraSale  MedicalExtraExp  \
count              37883.0        37883.0         37883.0          37883.0
mean                 292.6      1714247.3          9809.3        1550667.7
std                32292.6      9229188.9        304450.1        9125448.3
min                    0.0            0.0             0.0              0.0
25%                    0.0            0.0             0.0              0.0
50%                    0.0            0.0             0.0              0.0
75%                    0.0            0.0             0.0              0.0
max              4166666.7    375000000.0      30000000.0      783333333.3

       MedicalExtraSale  TransportationExtraExp  TransportationExtraSale  \
count           37883.0                 37883.0                  37883.0
mean                0.0               2178491.8                   2185.7
std                 0.0               4634922.4                 102829.9
min                 0.0                     0.0                      0.0
25%                 0.0                     0.0                      0.0
50%                 0.0                     0.0                      0.0
75%                 0.0               2625000.0                      0.0
max                 0.0             100500000.0               17500000.0

       CommunicationExtraExp  CommunicationExtraSale  AmusementExtraExp  \
count                37883.0                 37883.0            37883.0
mean                289739.7                  7066.7           665655.2
std                2096557.6                474881.8          5772964.5
min                      0.0                     0.0                0.0
25%                      0.0                     0.0                0.0
50%                      0.0                     0.0            45000.0
75%                      0.0                     0.0           160833.3
max               87500000.0              70833333.3        585833333.3

       AmusementExtraSale  EducationExp  EducationSale  OtherExtraExp  \
count             37883.0       37883.0        37883.0        37883.0
mean               7632.1      720895.9            0.0     12795776.7
std              727980.5     2851545.6            0.0     18150474.2
min                   0.0           0.0            0.0            0.0
25%                   0.0           0.0            0.0      2032000.0
50%                   0.0           0.0            0.0      5087000.0
75%                   0.0      208333.3            0.0     18241733.3
max           100000000.0   116666666.7            0.0    509816666.7

       OtherExtraSale
count         37883.0
mean              0.0
std               0.0
min               0.0
25%               0.0
50%               0.0
75%               0.0
max               0.0
                  Year is :1403

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_12980\2610726950.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

       ClothesExtraExp  ClothesExtraSale  HousingMaintainExp  \
count          37505.0           37505.0             37505.0
mean            8859.5               0.0            925871.2
std           494024.2               0.0           5256562.9
min                0.0               0.0                 0.0
25%                0.0               0.0                 0.0
50%                0.0               0.0                 0.0
75%                0.0               0.0            250000.0
max         83333333.3               0.0         369583333.3

       HousingMaintainSale  FurniExtraExp  FurniExtraSale  MedicalExtraExp  \
count              37505.0        37505.0         37505.0          37505.0
mean                 144.4      2090304.8         16683.8        2065488.4
std                19835.7     16158552.4        736648.9       12337970.7
min                    0.0            0.0             0.0              0.0
25%                    0.0            0.0             0.0              0.0
50%                    0.0            0.0             0.0              0.0
75%                    0.0            0.0             0.0              0.0
max              2916666.7   2258333333.3     100000000.0      666666666.7

       MedicalExtraSale  TransportationExtraExp  TransportationExtraSale  \
count           37505.0                 37505.0                  37505.0
mean                0.0               2969961.5                   1595.1
std                 0.0               6399543.8                  32510.7
min                 0.0                     0.0                      0.0
25%                 0.0                     0.0                      0.0
50%                 0.0                     0.0                      0.0
75%                 0.0               3750000.0                      0.0
max                 0.0             231000000.0                2500000.0

       CommunicationExtraExp  CommunicationExtraSale  AmusementExtraExp  \
count                37505.0                 37505.0            37505.0
mean                375579.8                  8631.1          1006826.4
std                2668140.4                372122.1          9763436.0
min                      0.0                     0.0                0.0
25%                      0.0                     0.0                0.0
50%                      0.0                     0.0            65000.0
75%                      0.0                     0.0           228333.3
max              100000000.0              43333333.3       1083333333.3

       AmusementExtraSale  EducationExp  EducationSale  OtherExtraExp  \
count             37505.0       37505.0        37505.0        37505.0
mean               4869.4     1079939.2            0.0     17504459.0
std              735339.6     4397160.4            0.0     38320884.7
min                   0.0           0.0            0.0            0.0
25%                   0.0           0.0            0.0      2783000.0
50%                   0.0           0.0            0.0      7004166.7
75%                   0.0      291666.7            0.0     24315833.3
max           141666666.7   237500000.0            0.0   5019563083.3

       OtherExtraSale
count         37505.0
mean              0.0
std               0.0
min               0.0
25%               0.0
50%               0.0
75%               0.0
max               0.0

In [9]:
col_name = {
    'Address': 'HHID',
    'DYCOL01': 'Code',
    'DYCOL03': 'Price',
    'DYCOL04': 'Input',
    'address': 'HHID', 
    'dycol01': 'Code',  
    'dycol03': 'Price',
    'dycol04': 'Input'
}
years = list(range(89, 99))+ [99] + list(range(1400, 1403))
years = [1403]
for year in years:
    # Path to your .accdb file
    file_path = fr'C:\Users\Mahsa\Desktop\geo\raw_data\{year}\Outfile-{year}.accdb'
    # Connection string (for 64-bit Access Database Engine)
    conn_str = (
        r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
        f'DBQ={file_path};'
    )
    # Connect
    conn = pyodbc.connect(conn_str)
    # List all table names
    tables = [table.table_name for table in conn.cursor().tables(tableType='TABLE')]
    print(f"Year is :{str(year)}".center(50))
    Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S14", conn)
    Udata = pd.read_sql(f"select * from U{year}P3S14", conn)
    
    data = pd.concat([Rdata, Udata], axis=0)
    data.rename(columns= col_name, inplace=True)
    
    data = data[["HHID","Code","Price", "Input"]]
    
    data["HHID"] = data["HHID"].astype("str")
    mask = data["HHID"].str.contains(r"\.")
    data.loc[mask, 'HHID'] = data.loc[mask, "HHID"].str.split(".").str[0]
    data = data.loc[data["HHID"].notna()]
    
    data["Code"] = data["Code"].astype("str")
    data["Code"] = data["Code"].str.lstrip("0")
    data["Code"] = pd.to_numeric(data["Code"], errors='coerce')
    
    data["Price"] = data["Price"].astype("str")
    data["Price"] = data["Price"].str.lstrip("0")
    data["Price"] = pd.to_numeric(data["Price"], errors='coerce')
    data["Price"] = data["Price"]/12
    data["Price"] = data["Price"].fillna(0)
    
    data["Input"] = data["Input"].astype("str")
    data["Input"] = data["Input"].str.lstrip("0")
    data["Input"] = pd.to_numeric(data["Input"], errors='coerce')
    data["Input"] = data["Input"]/12
    data["Input"] = data["Input"].fillna(0)
    
    data["Exp"] = data["Price"] - data["Input"]
    
    agg_dict = {
        'HHID': ('HHID', 'first'),
        "InvestExp": ("Exp", "sum")
    }

    df = data.groupby("HHID").aggregate(**agg_dict).reset_index(drop=True)
    df = df.fillna(0)
    df.to_pickle(fr'Invest_{year}')

                  Year is :1403

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\474210870.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S14", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\474210870.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S14", conn)