In [1]:
import numpy as np
import pandas as pd
import pyodbc

In [2]:
col_name = {
    'Address': 'HHID',
    'DYCOL01': 'Code',
    'DYCOL02': 'BuyingMethod',
    'DYCOL03': 'Price'
}
years = list(range(89, 99))+ [99] + list(range(1400, 1403))
years = [1403]
for year in years:
    # Path to your .accdb file
    file_path = fr'C:\Users\Mahsa\Desktop\geo\raw_data\{year}\Outfile-{year}.accdb'
    # Connection string (for 64-bit Access Database Engine)
    conn_str = (
        r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
        f'DBQ={file_path};'
    )
    # Connect
    conn = pyodbc.connect(conn_str)
    # List all table names
    tables = [table.table_name for table in conn.cursor().tables(tableType='TABLE')]
    print(f"Year is :{str(year)}".center(50))
    Rdata = pd.read_sql(f"SELECT Address,DYCOL01,DYCOL03 FROM R{year}P3S03", conn)
    Udata = pd.read_sql(f"select Address,DYCOL01,DYCOL03 from U{year}P3S03", conn)
    
    data = pd.concat([Rdata, Udata], axis=0)
    data.rename(columns= col_name, inplace=True)
    
    data["HHID"] = data["HHID"].astype("str")
    mask = data["HHID"].str.contains(r"\.")
    data.loc[mask, 'HHID'] = data.loc[mask, "HHID"].str.split(".").str[0]
    data = data.loc[data["HHID"].notna()]
    
    data["Code"] = data["Code"].astype("str")
    data["Code"] = data["Code"].str.lstrip("0")
    data["Code"] = pd.to_numeric(data["Code"], errors='coerce')
    
    data["Price"] = data["Price"].astype("str")
    data["Price"] = data["Price"].str.lstrip("0")
    data["Price"] = pd.to_numeric(data["Price"], errors='coerce')
    data = data.loc[data["Price"].notna()]
    
    agg_dict = {
        'HHID': ('HHID', 'first'),
        "ClothExp": ("Price", "sum")
    }

    df = data.groupby("HHID").aggregate(**agg_dict).reset_index(drop=True)
    df = df.fillna(0)
    df.to_pickle(fr'Cloth_{year}')

                  Year is :1403

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\177173114.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT Address,DYCOL01,DYCOL03 FROM R{year}P3S03", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\177173114.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select Address,DYCOL01,DYCOL03 from U{year}P3S03", conn)

In [6]:
sections = ["Rent","EstRent_owner","EstRent","Mortgage","Water","Water_other","Sewage","OtherHousing",
            "Electricity","ElectricityOther","NaturalGas","NaturalGasOther",
            "OtherEnergyRe"]
dic_sec = {
    "Rent": range(41111,41214),
    "EstRent_owner" : [42111],
    "EstRent" : range(42212,42216),
    "Mortgage": [42212],
    "Water": [44111],
    "Water_other": range(44112,44115),
    "Sewage": range(44311,44313),
    "OtherHousing": range(44411,44419),
    "Electricity":[45111],
    "ElectricityOther":[45113],
    "NaturalGas":range(45211, 45213),
    "NaturalGasOther": [45213],
    "OtherEnergyRe": range(45311, 45415)  
}
col_name = {
    'Address': 'HHID',
    'DYCOL01': 'Code',
    'DYCOL02': 'Mortgage',
    'DYCOL03': 'BuyingMethod',
    'DYCOL04': 'Price',
    'address': 'HHID', 
    'dycol01': 'Code',  
    'dycol02': 'Mortgage',
    'dycol03': 'BuyingMethod', 
    'dycol04': 'Price'   
}
years = list(range(89, 99))+ [99] + list(range(1400, 1403))
years = [1403]
for year in years:
    # Path to your .accdb file
    file_path = fr'C:\Users\Mahsa\Desktop\geo\raw_data\{year}\Outfile-{year}.accdb'
    # Connection string (for 64-bit Access Database Engine)
    conn_str = (
        r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
        f'DBQ={file_path};'
    )
    # Connect
    conn = pyodbc.connect(conn_str)
    # List all table names
    tables = [table.table_name for table in conn.cursor().tables(tableType='TABLE')]
    print(f"Year is :{str(year)}".center(50))
    
    Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S04", conn)
    Udata = pd.read_sql(f"select * from U{year}P3S04", conn)
    
    data = pd.concat([Rdata, Udata], axis=0)
    data.rename(columns= col_name, inplace=True)
    
    data["HHID"] = data["HHID"].astype("str")
    mask = data["HHID"].str.contains(r"\.")
    data.loc[mask, 'HHID'] = data.loc[mask, "HHID"].str.split(".").str[0]
    data = data.loc[data["HHID"].notna()]
    
    data["Price"] = data["Price"].astype("str")
    data["Price"] = data["Price"].str.lstrip("0")
    data["Price"] = pd.to_numeric(data["Price"], errors='coerce')
    data = data.loc[data["Price"].notna()]
    
    data["Code"] = data["Code"].astype("str")
    data["Code"] = data["Code"].str.lstrip("0")
    data["Code"] = pd.to_numeric(data["Code"], errors='coerce')
    
    data["Mortgage"] = data["Mortgage"].astype("str")
    data["Mortgage"] = data["Mortgage"].str.lstrip("0")
    data["Mortgage"] = pd.to_numeric(data["Mortgage"], errors='coerce')
    
    
    finalDB = pd.read_pickle(fr"C:\Users\Mahsa\Desktop\geo\base1\base{year}")
    finalDB = finalDB[["HHID"]]
    print(finalDB["HHID"].is_unique)
    for section in sections:   
        data2 = data.loc[data["Code"].isin(dic_sec[section])]
        
        if section == "Mortgage":
            agg_dict = {
                'HHID': ('HHID', 'first'),
                f"{section}Exp": ("Mortgage", "sum")
            }
        else:
            agg_dict = {
                'HHID': ('HHID', 'first'),
                f"{section}Exp": ("Price", "sum")
            }
        df = data2.groupby("HHID").aggregate(**agg_dict).reset_index(drop=True)
        finalDB = pd.merge(finalDB, df, on="HHID", how="left")
        
    finalDB = finalDB.fillna(0)           
    finalDB.to_pickle(fr'section04_{year}')

                  Year is :1403

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\3347351841.py:47: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S04", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\3347351841.py:48: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S04", conn)

True

In [7]:
sections = ["Furniture","Medical","Transportation","Communication","Amusement","Restaurant","Hotel",
            "Other"]
dic_sec_table = {
    "Furniture": "P3S05",
    "Medical" : "P3S06",
    "Transportation": "P3S07",
    "Communication": "P3S08",
    "Amusement": "P3S09",
    "Restaurant": "P3S11",
    "Hotel": "P3S11",
    "Other":"P3S12" 
}
col_name = {
    'Address': 'HHID',
    'DYCOL01': 'Code',
    'DYCOL02': 'BuyingMethod',
    'DYCOL03': 'Price',
    'address': 'HHID', 
    'dycol01': 'Code',
    'dycol02': 'BuyingMethod', 
    'dycol03': 'Price'   
}
years = list(range(89, 99))+ [99] + list(range(1400, 1403))
years = [1403]
for year in years:
    # Path to your .accdb file
    file_path = fr'C:\Users\Mahsa\Desktop\geo\raw_data\{year}\Outfile-{year}.accdb'
    # Connection string (for 64-bit Access Database Engine)
    conn_str = (
        r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
        f'DBQ={file_path};'
    )
    # Connect
    conn = pyodbc.connect(conn_str)
    # List all table names
    tables = [table.table_name for table in conn.cursor().tables(tableType='TABLE')]
    print(f"Year is :{str(year)}".center(50))
    
    finalDB = pd.read_pickle(fr"C:\Users\Mahsa\Desktop\geo\base1\base{year}")
    finalDB = finalDB[["HHID"]]
    for section in sections:
        Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
        Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)
        
        data = pd.concat([Rdata, Udata], axis=0)
        data.rename(columns= col_name, inplace=True)
        
        data["HHID"] = data["HHID"].astype("str")
        mask = data["HHID"].str.contains(r"\.")
        data.loc[mask, 'HHID'] = data.loc[mask, "HHID"].str.split(".").str[0]
        data = data.loc[data["HHID"].notna()]
        
        data["Price"] = data["Price"].astype("str")
        data["Price"] = data["Price"].str.lstrip("0")
        data["Price"] = pd.to_numeric(data["Price"], errors='coerce')
        data = data.loc[data["Price"].notna()]
        
        data["Code"] = data["Code"].astype("str")
        data["Code"] = data["Code"].str.lstrip("0")
        data["Code"] = pd.to_numeric(data["Code"], errors='coerce')
        
        if section == "Hotel":
            data2 = data.loc[data["Code"]> 112000]
        elif section == "Restaurant":
            data2 = data.loc[data["Code"]< 112000]
        else:
            data2 = data
        agg_dict = {
            'HHID': ('HHID', 'first'),
            f"{section}Exp": ("Price", "sum")
        }
        df = data2.groupby("HHID").aggregate(**agg_dict).reset_index(drop=True)
        finalDB = pd.merge(finalDB, df, on="HHID", how="left")
    
    print(finalDB.shape[0])
    print(finalDB.isna().sum())
    finalDB = finalDB.fillna(0)     
    finalDB.to_pickle(fr'Part3_{year}')

                  Year is :1403

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}{dic_sec_table[section]}", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\842230248.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}{dic_sec_table[section]}", conn)

37505
HHID                     0
FurnitureExp          2977
MedicalExp           14351
TransportationExp     3790
CommunicationExp      1141
AmusementExp         29101
RestaurantExp        26176
HotelExp             37386
OtherExp              4414
dtype: int64

In [8]:
numbers = list(range(110000, 140000))
excluded_numbers = [123111,123112,123113,123134, 123225]
filtered_numbers = [num for num in numbers if num not in excluded_numbers]
sections = ["ClothesExtra","HousingMaintain","FurniExtra","MedicalExtra", "TransportationExtra","CommunicationExtra","AmusementExtra", "Education", "OtherExtra"]
dic_sec = {
    "ClothesExtra": range(30000, 40000),
    "HousingMaintain": range(40000, 50000),
    "FurniExtra": range(50000, 60000),
    "MedicalExtra": range(60000, 70000),
    "TransportationExtra": range(71300, 80000),
    "CommunicationExtra": range(80000, 90000),
    "AmusementExtra": range(90000, 100000),
    "Education": range(100000, 110000),
    "OtherExtra": filtered_numbers
}
col_name = {
    'Address': 'HHID',
    'DYCOL01': 'Code',
    'DYCOL05': 'Price',
    'DYCOL06': 'Input',
    'address': 'HHID', 
    'dycol01': 'Code',  
    'dycol05': 'Price',
    'dycol06': 'Input'   
}
years = list(range(89, 99))+ [99] + list(range(1400, 1404))
for year in years:
    # Path to your .accdb file
    file_path = fr'C:\Users\Mahsa\Desktop\geo\raw_data\{year}\Outfile-{year}.accdb'
    # Connection string (for 64-bit Access Database Engine)
    conn_str = (
        r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
        f'DBQ={file_path};'
    )
    # Connect
    conn = pyodbc.connect(conn_str)
    # List all table names
    tables = [table.table_name for table in conn.cursor().tables(tableType='TABLE')]
    print(f"Year is :{str(year)}".center(50))
    
    Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
    Udata = pd.read_sql(f"select * from U{year}P3S13", conn)
    
    data = pd.concat([Rdata, Udata], axis=0)
    data.rename(columns= col_name, inplace=True)
    
    data = data[["HHID","Code","Price", "Input"]]
    
    data["HHID"] = data["HHID"].astype("str")
    mask = data["HHID"].str.contains(r"\.")
    data.loc[mask, 'HHID'] = data.loc[mask, "HHID"].str.split(".").str[0]
    data = data.loc[data["HHID"].notna()]
    
    data["Price"] = data["Price"].astype("str")
    data["Price"] = data["Price"].str.lstrip("0")
    data["Price"] = pd.to_numeric(data["Price"], errors='coerce')
    data["Price"] = data["Price"]/12
    data["Price"] = data["Price"].fillna(0)
    print(data["Price"].describe())
    
    data["Input"] = data["Input"].astype("str")
    data["Input"] = data["Input"].str.lstrip("0")
    data["Input"] = pd.to_numeric(data["Input"], errors='coerce')
    data["Input"] = data["Input"]/12
    data["Input"] = data["Input"].fillna(0)
    print(data["Input"].describe())
    
    data["Exp"] = data["Price"] - data["Input"]
    
    data["Code"] = data["Code"].astype("str")
    data["Code"] = data["Code"].str.lstrip("0")
    data["Code"] = pd.to_numeric(data["Code"], errors='coerce')
    
    finalDB = pd.read_pickle(fr"C:\Users\Mahsa\Desktop\geo\base1\base{year}")
    finalDB = finalDB[["HHID"]]
    for section in sections:   
        data2 = data.loc[data["Code"].isin(dic_sec[section])]
        agg_dict = {
            'HHID': ('HHID', 'first'),
            f"{section}Exp": ("Exp", "sum")
        }
        df = data2.groupby("HHID").aggregate(**agg_dict).reset_index(drop=True)
        finalDB = pd.merge(finalDB, df, on="HHID", how="left")
        
    finalDB = finalDB.fillna(0)          
    finalDB.to_pickle(fr'section13_{year}')

                   Year is :89

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

count    4.644700e+05
mean     1.421403e+05
std      6.674658e+05
min      0.000000e+00
25%      5.000000e+03
50%      1.833333e+04
75%      9.566667e+04
max      9.333333e+07
Name: Price, dtype: float64
count    4.644700e+05
mean     1.292750e+04
std      2.962778e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      7.500000e+07
Name: Input, dtype: float64
                   Year is :90

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

count    4.587230e+05
mean     1.625550e+05
std      6.934463e+05
min      0.000000e+00
25%      6.166667e+03
50%      2.166667e+04
75%      1.166667e+05
max      8.333333e+07
Name: Price, dtype: float64
count    4.587230e+05
mean     1.078348e+04
std      2.429934e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.250000e+07
Name: Input, dtype: float64
                   Year is :91

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

count    4.549160e+05
mean     1.859034e+05
std      7.718087e+05
min      0.000000e+00
25%      8.333333e+03
50%      2.500000e+04
75%      1.340000e+05
max      1.750000e+08
Name: Price, dtype: float64
count    4.549160e+05
mean     1.641372e+04
std      3.654479e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      6.666667e+07
Name: Input, dtype: float64
                   Year is :92

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

count    4.435420e+05
mean     2.297447e+05
std      9.669693e+05
min      0.000000e+00
25%      9.166667e+03
50%      3.333333e+04
75%      1.666667e+05
max      1.250000e+08
Name: Price, dtype: float64
count    4.435420e+05
mean     2.032633e+04
std      5.061144e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      7.500000e+07
Name: Input, dtype: float64
                   Year is :93

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

count    4.481530e+05
mean     2.714812e+05
std      1.142621e+06
min      0.000000e+00
25%      1.250000e+04
50%      3.812933e+04
75%      2.083333e+05
max      1.250000e+08
Name: Price, dtype: float64
count    4.481530e+05
mean     2.312927e+04
std      5.898533e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      9.333333e+07
Name: Input, dtype: float64
                   Year is :94

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

count    4.465250e+05
mean     2.997990e+05
std      1.241732e+06
min      0.000000e+00
25%      1.283333e+04
50%      4.166667e+04
75%      2.500000e+05
max      1.500000e+08
Name: Price, dtype: float64
count    4.465250e+05
mean     2.269930e+04
std      6.351344e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.250000e+08
Name: Input, dtype: float64
                   Year is :95

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

count    4.437630e+05
mean     3.327714e+05
std      1.434315e+06
min      0.000000e+00
25%      1.666667e+04
50%      4.166667e+04
75%      2.500000e+05
max      2.600000e+08
Name: Price, dtype: float64
count    4.437630e+05
mean     2.285051e+04
std      6.336618e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.416667e+08
Name: Input, dtype: float64
                   Year is :96

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

count    4.650540e+05
mean     3.865255e+05
std      1.728179e+06
min      0.000000e+00
25%      1.666667e+04
50%      5.000000e+04
75%      2.916667e+05
max      2.166667e+08
Name: Price, dtype: float64
count    4.650540e+05
mean     3.003014e+04
std      7.765983e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.500000e+08
Name: Input, dtype: float64
                   Year is :97

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

count    4.788180e+05
mean     4.674616e+05
std      2.389323e+06
min      0.000000e+00
25%      2.058333e+04
50%      6.250000e+04
75%      3.400000e+05
max      6.666667e+08
Name: Price, dtype: float64
count    4.788180e+05
mean     4.236468e+04
std      1.103415e+06
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.333333e+08
Name: Input, dtype: float64
                   Year is :98

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

count    4.434250e+05
mean     5.683731e+05
std      2.590465e+06
min      0.000000e+00
25%      2.500000e+04
50%      8.333333e+04
75%      4.200000e+05
max      3.041667e+08
Name: Price, dtype: float64
count    4.434250e+05
mean     6.313928e+04
std      1.702438e+06
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.333333e+08
Name: Input, dtype: float64
                   Year is :99

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

count    4.040180e+05
mean     7.595753e+05
std      3.823094e+06
min      0.000000e+00
25%      2.916667e+04
50%      1.000000e+05
75%      5.833333e+05
max      6.666667e+08
Name: Price, dtype: float64
count    4.040180e+05
mean     9.023992e+04
std      2.756290e+06
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      5.583333e+08
Name: Input, dtype: float64
                  Year is :1400

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

count    4.010040e+05
mean     1.129263e+06
std      5.423219e+06
min      0.000000e+00
25%      4.166667e+04
50%      1.500000e+05
75%      8.333333e+05
max      6.083333e+08
Name: Price, dtype: float64
count    4.010040e+05
mean     1.182550e+05
std      3.411920e+06
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      6.358333e+08
Name: Input, dtype: float64
                  Year is :1401

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

count    3.868690e+05
mean     1.696398e+06
std      9.863807e+06
min      0.000000e+00
25%      6.208333e+04
50%      2.333333e+05
75%      1.333333e+06
max      2.500000e+09
Name: Price, dtype: float64
count    3.868690e+05
mean     2.187746e+05
std      6.815923e+06
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.833333e+09
Name: Input, dtype: float64
                  Year is :1402

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

count    3.913550e+05
mean     2.499375e+06
std      1.404167e+07
min      0.000000e+00
25%      8.666667e+04
50%      3.750000e+05
75%      2.083333e+06
max      1.666667e+09
Name: Price, dtype: float64
count    3.913550e+05
mean     2.895521e+05
std      1.016030e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      4.000000e+09
Name: Input, dtype: float64
                  Year is :1403

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S13", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\1560213716.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S13", conn)

count    3.877440e+05
mean     3.361134e+06
std      2.014529e+07
min      0.000000e+00
25%      1.250000e+05
50%      4.583333e+05
75%      2.791667e+06
max      5.000717e+09
Name: Price, dtype: float64
count    3.877440e+05
mean     3.722133e+05
std      1.148836e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.083333e+09
Name: Input, dtype: float64

In [9]:
col_name = {
    'Address': 'HHID',
    'DYCOL01': 'Code',
    'DYCOL03': 'Price',
    'DYCOL04': 'Input',
    'address': 'HHID', 
    'dycol01': 'Code',  
    'dycol03': 'Price',
    'dycol04': 'Input'
}
years = list(range(89, 99))+ [99] + list(range(1400, 1403))
years = [1403]
for year in years:
    # Path to your .accdb file
    file_path = fr'C:\Users\Mahsa\Desktop\geo\raw_data\{year}\Outfile-{year}.accdb'
    # Connection string (for 64-bit Access Database Engine)
    conn_str = (
        r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
        f'DBQ={file_path};'
    )
    # Connect
    conn = pyodbc.connect(conn_str)
    # List all table names
    tables = [table.table_name for table in conn.cursor().tables(tableType='TABLE')]
    print(f"Year is :{str(year)}".center(50))
    Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S14", conn)
    Udata = pd.read_sql(f"select * from U{year}P3S14", conn)
    
    data = pd.concat([Rdata, Udata], axis=0)
    data.rename(columns= col_name, inplace=True)
    
    data = data[["HHID","Code","Price", "Input"]]
    
    data["HHID"] = data["HHID"].astype("str")
    mask = data["HHID"].str.contains(r"\.")
    data.loc[mask, 'HHID'] = data.loc[mask, "HHID"].str.split(".").str[0]
    data = data.loc[data["HHID"].notna()]
    
    data["Code"] = data["Code"].astype("str")
    data["Code"] = data["Code"].str.lstrip("0")
    data["Code"] = pd.to_numeric(data["Code"], errors='coerce')
    
    data["Price"] = data["Price"].astype("str")
    data["Price"] = data["Price"].str.lstrip("0")
    data["Price"] = pd.to_numeric(data["Price"], errors='coerce')
    data["Price"] = data["Price"]/12
    data["Price"] = data["Price"].fillna(0)
    
    data["Input"] = data["Input"].astype("str")
    data["Input"] = data["Input"].str.lstrip("0")
    data["Input"] = pd.to_numeric(data["Input"], errors='coerce')
    data["Input"] = data["Input"]/12
    data["Input"] = data["Input"].fillna(0)
    
    data["Exp"] = data["Price"] - data["Input"]
    
    agg_dict = {
        'HHID': ('HHID', 'first'),
        "InvestExp": ("Exp", "sum")
    }

    df = data.groupby("HHID").aggregate(**agg_dict).reset_index(drop=True)
    df = df.fillna(0)
    df.to_pickle(fr'Invest_{year}')

                  Year is :1403

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\474210870.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rdata = pd.read_sql(f"SELECT * FROM R{year}P3S14", conn)
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_14584\474210870.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Udata = pd.read_sql(f"select * from U{year}P3S14", conn)